body {
      font-family: 'Inter', sans-serif;
      background-color: #c9f2c7;
      color: #243119;
    }

    h1, h2, h3 {
      color:#629460;
    }
    .fade-in {
      opacity: 0;
      transform: translateY(20px);
      animation: fadeInUp 0.8s ease-out forwards;
    }
    @keyframes fadeInUp {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }